{% extends "general/base.html" %}
{% load static %}
{% block link %}
<style>
    #blogs_filtered_by_tag {
        padding: 0 20px 15px;
    }
    #tag_to_filter {
        text-align: center;
    }
    #tag_name_display {
        display: inline-block;
        padding: 4px 16px;
        font-size: 1.55rem;
        color: #333;
        background-color: #ececec;
        border-radius: 15px;
    }
    .blog-block {
        padding: 15px 10px;
    }
    .blog-title {
        font-size: 2.7rem;
        color: #333;
        text-decoration: none;
    }
    .blog-title:hover {
        text-decoration: underline solid #333;
    }
    #tag_heading {
        display: inline-block;
        margin-top: 8px;
        font-size: 1.55rem;
        color: #777;
    }
    .blog-tags {
        display: inline-block;
        font-size: 1.55rem;
        color: #009bc3;
        text-decoration: none;
    }
    .blog-tags:hover {
        text-decoration: underline solid #009bc3;
    }
    .list-tag-comma {
        display: inline-block;
        margin-right: 6px;
        font-size: 1.55rem;
    }
    .blog-desc {
        margin-top: 8px;
        font-size: 1.55rem;
        color: #777;
        line-height: 27px;
    }
    .blog-icon {
        width: 90%;
    }
</style>
{% endblock %}
{% block content %}　
<div id="blogs_filtered_by_tag">
    <div id="tag_to_filter">
        <p id="tag_name_display">Tag to filter : {{ tag.name }}</p>
    </div>
    {% for blog in blog_list %}
    <div class="blog-block">
        <a href="{% url 'blog:blog_detail' pk=blog.pk %}" class="blog-title">{{ blog.title }}</a>
        <div id="tag_wrapper">
            <p id="tag_heading">Tag：</p>
            {% for tag in blog.tags.all %}
                <a
                    href="{% url 'blog:blogs_filtered_by_tag' tag.pk %}"
                    class="blog-tags"
                >{{ tag.name }}</a>
                {% if not forloop.last %}
                <p class="list-tag-comma">,</p>
                {% endif %}
            {% endfor %}
        </div>
        <p class="blog-desc">{{ blog.description }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}